.navbar-inverse {
	background-color: #FE5000;
	border-color: white;
}


.navbar-header > button {
	border-color: white;
}
.navbar-header > a {
	color: white;
}
.navbar-header img {
	margin-right: 10px;
}


.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: black;
}

.navbar-inverse .navbar-nav > .active > a:hover {
	color: white;
}