<header>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	
		<div class="container">
			
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-navbar-collapse"
					aria-expanded="false">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<img class="navbar-brand" src="/assets/logo64.png" alt="Logo" style="padding:5px;">
				<a class="navbar-brand" routerLink="/home">Bunlong Taing</a>
			</div>


			<div class="collapse navbar-collapse" id="bs-navbar-collapse">
				<ul class="nav navbar-nav">
					<li routerLinkActive="active"><a routerLink="/home">Home</a></li>
					<li routerLinkActive="active"><a routerLink="/gallery">Gallery</a></li>
					<li routerLinkActive="active"><a routerLink="portfolio">Portfolio</a></li>
					<li routerLinkActive="active"><a routerLink="/about">About Me</a></li>
				</ul>
			</div>

		</div>

	</nav>
</header>