<footer class="footer">
	<div class="container">
		<div class="row">
		
			<div class="col-sm-3">
				<h3>SERVICES</h3>
				<div class="line"></div>
				
				<br>
				<p>Web design & develop</p>
				<p>Design logo</p>
				<p>Design business card</p>
				<p>Poster, postcard, leaflet</p>
				<p>and much more...</p>
			</div>
		
			<div class="col-sm-3">
				<h3>CONTACT</h3>
				<div class="line"></div>
				
				<br>
				<p><a href="tel:{{app.phone}}">{{app.phone}}</a></p>
				<p><a href="mailto:{{app.email}}">{{app.email}}</a></p>
				
				<br><br>
				<a href="https://www.facebook.com/LuluKwon"><img src="assets/app-icon/facebook-64.png" alt="facebook" /></a>
			</div>
			
			<div class="col-sm-6">
				<img src="assets/logo128.png" alt="logo" style="float:right;"/>
			</div>
			
		</div>
	</div>
</footer>


<div class="copyright">
	<div class="container">
		<p>{{app.copyright}}</p>
	</div>
</div>