<footer class="footer">
	<div class="container">
		<div class="row">
		
			<div class="col-sm-3">
				<h3>SERVICES</h3>
				<div class="line"></div>
				
				<br>
				<p>Web design & develop</p>
				<p>Design logo</p>
				<p>Design business card</p>
				<p>Poster, postcard, leaflet</p>
				<p>and much more...</p>
			</div>
		
			<div class="col-sm-3">
				<h3>CONTACT</h3>
				<div class="line"></div>
				
				<br>
				<p>{{app.phone}}</p>
				<p>{{app.email}}</p>
			</div>
			
			<div class="col-sm-6">
			
			</div>
			
		</div>
	</div>
</footer>


<div class="copyright">
	<div class="container">
		<p>{{app.copyright}}</p>
	</div>
</div>