<h1>CV Component</h1>
<div>
	<div class="row">
		<div class="col-sm-4 col-md-3 cv-right">
			<strong>EDUCATION</strong>
		</div>
		<div class="col-sm-7 col-md-8 cv-left">
			<p><strong>St Pius Culinary and Business Centre</strong></p>
			<p>Computer Graphics, May 2016 - Present</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-4 col-md-3 cv-right">
			<strong>COMPETENCIES</strong>
		</div>
		<div class="col-sm-7 col-md-8 cv-left">
			<p><strong>Web Development</strong></p>
			<p>Adobe Dreamweaver, Adobe Muse, HTML, CSS, JavaScript</p>
			<p><strong>Design</strong></p>
			<p>Adobe Illustrator, Adobe Photoshop, Adobe InDesign</p>
		</div>
	</div>
</div>