<h1>Cover Letter</h1>
<div class="line-3"></div>
<div class="row">
	<div class="col-sm-4 col-md-3 cl-left">
		<h1>BUNLONG TAING</h1>
		<h2>Graphic Designer</h2>

		<div class="line-3"></div>

		<p>3990 #313 Jarry Est Montreal,</p>
		<p>H1Z 0A5</p>
		<p class="app-color">(514) 999 1544</p>
		<p class="app-color">bunlong.taing@yahoo.com</p>
	</div>
	<div class="col-sm-7 col-md-8 cl-right text-justify">
		<p>Dear Sir or Madam</p>
		<p>
			I am very interested in working at your company, and would like
			to submit my CV for your kind consideration.</p>
			
		<p>
			I have the capability of designing like bunsiness logo,
			business card, poster, website and more. I am presently a graphic
			design student at St Pius Culinary and Business Centre.</p>

		<p>
			I am hardworking and good at communicating. In addition, I am
			motivated and enthusiastic, and would appreciate the opportunity to
			contribute to your company’s success. I hope my educational
			background fulfills your requirement. Even though I have no
			experience, I have acquired and equivalence skill level from
			practical research and learning.</p>

		<p>
			I can promise that meeting me will not be a waste of your time,
			and I will make myself available at your convenience. I am very much
			looking forward to hearing from you.</p>
		
		<p>Sincerely</p>
		
		<br>
		<p class="app-color">BUNLONG TAING</p>

	</div>
</div>