.heading {
	background-color: #FE5000;
	min-height: 200px;
	padding-top: 25px;
}
.heading h1 {
	color: white;
}
.heading p {
	color: white;
	border-left: 3px solid white;
}

.skill, .portfolio {
	padding-top: 15px;
	padding-bottom: 25px;
}

.wide-img {
	
}
.wide-img img {
	width: 100%;
}

.half-img img {
	float: left;
	width: 50%;
}