<div id="p-carousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#p-carousel" data-slide-to="0"
			class="active"></li>
		<li data-target="#p-carousel" data-slide-to="1"></li>
		<li data-target="#p-carousel" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<!-- <div class="item active">
			<img src="..." alt="...">
			<div class="carousel-caption">...</div>
		</div> -->
		<div *ngFor="let image of carousels; let f = first;" [ngClass]="{ 'item': true, 'active': f }">
			<img src="{{image}}" alt="" style="margin: 0 auto;max-height: 500px;min-width: 320px;">
			<div class="carousel-caption">{{image}}</div>
		</div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#p-carousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#p-carousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>


<br><br>

skill
<div class="skill">
	<div class="container">
		List of the program
		like:
			web develop
			and then
			graphic design 
	</div>
</div>

<br><br>

<div class="container">

	<div class="row">
		<div *ngFor="let i of [1, 2, 3, 4, 5, 1, 2, 3, 4]" class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="..." alt="...">
				<div class="caption">
					<h3>Thumbnail label</h3>
					<p>...</p>
					<p>
						<a href="#" class="btn btn-primary" role="button">Button</a> <a
							href="#" class="btn btn-default" role="button">Button</a>
					</p>
				</div>
			</div>
		</div>
	</div>

</div>